Latihan 14.1

In [1]:
import re
from datetime import datetime, date

pernyataan = "Pada tanggal 1945-08-17 Indonesia merdeka. Indonesia memiliki beberapa pahlawan nasional, seperti Pangeran Diponegoro (format: 1785-11-11), Pattimura (TL: 1783-06-08) dan Ki Hajar Dewantara (1889-05-02)."

format = re.findall(r'\b(\d{4}-\d{2}-\d{2})\b', pernyataan)

hasil = []
for i in format:
    konversi = datetime.strptime(i, '%Y-%m-%d')

    konversi2 = konversi.strftime('%d-%m-%Y')

    selisih = (date.today() - konversi.date()).days

    hasil.append(f'{konversi2} selisih dari hari ini adalah {selisih} hari')

for hasil2 in hasil:
    print(hasil2)

17-08-1945 selisih dari hari ini adalah 28782 hari
11-11-1785 selisih dari hari ini adalah 87134 hari
08-06-1783 selisih dari hari ini adalah 88021 hari
02-05-1889 selisih dari hari ini adalah 49342 hari

Latihan 14.2

In [2]:
import re
import string
import random

text = """
Berikut adalah daftar email dan nama pengguna dari mailing list:
anton@mail.com dimiliki oleh antonius
budi@gmail.co.id dimiliki oleh budi anwari
slamet@getnada.com dimiliki oleh slamet slumut
matahari@tokopedia.com dimiliki oleh toko matahari
"""

email = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', text)

hasil = []
for i in email:
    username = i.split("@")[0]
    password = "".join(random.choice(string.ascii_letters + string.digits) for _ in range(8))
    hasil.append(f"{i} username: {username} , password: {password}")

for j in hasil:
    print(j)

anton@mail.com username: anton , password: E4r2NSX5
budi@gmail.co.id username: budi , password: IZxDUNWQ
slamet@getnada.com username: slamet , password: laEZlGbB
matahari@tokopedia.com username: matahari , password: G3aVUU8m